@media screen and (max-width: 868px) {
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background: #fff;
        height: 100%;
        width: 90vw;
        animation-duration: 0.3s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}